body {
	margin: 0;
	font-family: Arial, sans-serif;
	background-color: #f0f0f0;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	position: relative;

}

.new-to-slack-text {
	position: absolute;
	top: 10px;
	right: 30px;
	text-align: center;
	margin-top: 10px;
	font-size: 12px;
	color: #333;
}

.create-account-link {
	position: absolute;
	top: 35px;
	right: 30px;
	font-size: 12px;
	text-decoration: none;
	color: #007a5a;
	text-decoration: underline;
}

.container {
	text-align: center;
	background-color: white;
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	display: flex;
	flex-direction: column;
	align-items: center;
}

.logo-container {
	display: flex;
	align-items: center;
}

.divider-inline {
	width: 100%;
	display: flex;
	align-items: center;

}

.slack-logo {
	object-fit: scale-down;
	width: 50px;
	height: 50px;
	margin-right: 0px;
}

.slack-text {
	font-weight: bold;
	font-size: 24px;
}

.heading {
	font-size: 38px;
	margin-bottom: 5px;
}

.sub-heading {
	color: #777;
	margin-bottom: 20px;
}

.button-container {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 5px;
	flex-wrap: wrap;

}

.apple-logo {
	width: 25px;
	padding-right: 10px;
}

.google-logo {
	width: 21px;
	padding-right: 10px;
}

.button {
	width: 48%;
	padding: 10px;
	box-sizing: border-box;
	border: 2px solid grey;
	cursor: pointer;
	font-size: 16px;
	font-weight: bold;
}

.google-button {
	width: 100%;
	background-color: transparent;
	color: black;
}

.apple-button {
	width: 100%;
	background-color: transparent;
	color: black;
}

hr {
	border: none;
	border-top: 2px solid #ddd;
	clear: both;
}

.divider-left {
	width: 100%;
}

.divider-right {
	width: 100%;
}

.or-text {
	padding: 10px;
	color: black;
}

.input-container {
	width: 100%;
}

.input-field {
	width: 100%;
	margin-bottom: 15px;
	padding: 10px;
	box-sizing: border-box;
}

.sign-in-button {
	width: 100%;
	padding: 10px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	font-size: 16px;
	font-weight: bold;
	background-color: purple;
	color: white;
}

.existing-user-text {
	text-align: center;
	margin-top: 15px;
	font-size: 14px;
	color: #333;
}

.sign-in-link {
	color: #007a5a;
	text-decoration: underline;
	cursor: pointer;
	font-size: 14px;

}